<div class="embed-responsive embed-responsive-16by9">
  <iframe src="REPLACE THIS TEXT WITH THE LINK TO THE VIDEO ON VIMEO" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</div><div class="chapters"></div>
