<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid" data-src="{{ .Params.Image_webp | absURL }}" src="{{ .Params.image | absURL }}">
    </div>

    <div class="content">
      <h6 style="margin-bottom:0.5rem; max-width: 100%; text-align: center;">{{ replace .Params.author "-" " " }}</a></h6>
      <p><a class="list_article_title" href="{{ .Permalink }}">{{ if in .Title "&&" }}
        {{ $titleLines := split .Title "&&" }}
        {{ range $titleLines }}
          {{ . }}
          <br>
        {{ end }}
      {{ else }}{{ .Title }}{{ end }}</a></p><!--was h3-->
      <p class="summarytext">{{ if .Params.summary_text }}{{ .Params.summary_text }}{{ else }}{{ .Summary }}{{ end }}</p>
      <h6 style="max-width: 100%;">{{ .PublishDate.Format "January 2, 2006" }}</a></h6>
      <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>

<script>
//BREAK LINES IN SYNOPSIS
var summarytext = Array.from(document.querySelectorAll('.summarytext')).pop();
if ( summarytext ) {
  console.log("1, " + summarytext.innerHTML);
    
  if (summarytext.innerHTML.includes('&lt;i&gt;')){
    console.log("2, " + summarytext.innerHTML);

    /*var first = paragraphs[i].split('&lt;i&gt;');
    var paragraphText_1 = document.createTextNode(first[0]);
    paragraph.appendChild(paragraphText_1);

    for (let j = 1; j < first.length; j++) {
      var second = first[j].split('&lt;/i&gt;');  

      var paragraphText_2 = document.createTextNode(second[0]);
      var italicSpan = document.createElement('span');
      italicSpan.setAttribute('class', 'italic');
      italicSpan.appendChild(paragraphText_2);
      paragraph.appendChild(italicSpan);

      var paragraphText_3 = document.createTextNode(second[1]);
      paragraph.appendChild(paragraphText_3);
    }
    
  }*/ /*else {
      var paragraphText = document.createTextNode(paragraphs[i]);
      paragraph.appendChild(paragraphText);
    }
    paragraphBox.appendChild(paragraph);
  }
  this.innerHTML="";
  $(this).parent().append(paragraphBox);*/
  } else {
    console.log("3, " + summarytext.innerHTML);
  }
}
</script>
