<article>
  <div class="post-block">

    <div class="content">
      
      {{ if and .Params.timeline_tag (ne lower (.Title "iconography")) (ne lower (.Title "musicology")) (ne lower (.Title "organology")) (ne lower (.Title "performance practice")) (ne lower (.Title "sociology of art")) }}
        {{ range .Params.timeline_tag }}
          
          <div class="media-wrapper">
            <img class="img-fluid" style="width: 10em; height: 4em;" data-src="{{ .Params.Image_webp | absURL }}" src="{{ .Params.image | absURL }}">
          </div>

          <h6 style="margin-bottom:0.5rem; max-width: 100%; text-align: center;">
            <a class="tl_title" href="{{ .Permalink }}">
            {{ if in .Title "&&" }}
              {{ $titleLines := split .Title "&&" }}
              {{ range $titleLines }}
                {{ . }}<br>
              {{ end }}
            {{ else }}{{ .Title }}{{ end }}</a>

            <p class="tl_years">{{ . }}</p>
          </h6>
        {{ end }}
      {{ end }}
      
    </div>
  </div>
</article>

<script>
</script>
