<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid" data-src="{{ .Params.Image_webp | absURL }}" src="{{ .Params.image | absURL }}">
    </div>

    <div class="content">
      <!--h6 style="margin-bottom:0.5rem; max-width: 100%; text-align: center;">.Params.author</h6-->
      <!--Name formats: Name, Name-Name, Name Surname, Name-Name Surname-->
      {{ if .Params.author }}
      <h6 style="margin-bottom:0.5rem; max-width: 100%; text-align: center;">
        {{ if in .Params.author "/ " }} <!--multiple authors-->
          {{ if not (in .Params.author "-") }} <!--Name Surname-->
            {{ range $index, $singleAuthor := split .Params.author "/ " }}
              {{ if (ne $index 0) }}/ {{ end }}
              <a href="https://www.harfenlabor.com/indextag#{{ $nameSurname := split . " " }}{{ $len := len $nameSurname }}{{ range after 1 (seq $len) }}{{ $i := sub $len . }}{{ index $nameSurname $i }}{{ if ne . "0"}} {{ end }}{{ end }}">{{ . }}</a>
            {{ end }}
          {{ else }} <!--Name-Name Surname-->
            {{ range $index, $singleAuthor := split .Params.author "/ " }}
              {{ if (ne $index 0) }}/ {{ end }}
              <a href="https://www.harfenlabor.com/indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ $nameWithHyphen := index $nameSurname $i }}{{ replace $nameWithHyphen "-" " " }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ replace .Params.author "-" " " }}</a>
            {{ end }}
          {{ end }}
        {{ else if in .Params.author " " }} <!--single author-->
          {{ if not (in .Params.author "-") }} <!-- Name Surname -->
            <a href="https://www.harfenlabor.com/indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ index $nameSurname $i }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ .Params.author }}</a>
          {{ else }} <!--Name-Name Surname-->
            <a href="https://www.harfenlabor.com/indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ $nameWithHyphen := index $nameSurname $i }}{{ replace $nameWithHyphen "-" " " }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ replace .Params.author "-" " " }}</a>
          {{ end }}
        {{ else }} <!-- single author, Name -->
          {{ if in .Params.author "-" }} <!-- Name-Name -->
            <a href="https://www.harfenlabor.com/indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ $nameWithHyphen := index $nameSurname $i }}{{ replace $nameWithHyphen "-" " " }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ replace .Params.author "-" " " }}</a>
          {{ else }} <!-- Name -->
            <a href="https://www.harfenlabor.com/indextag#{{ . }}">{{ .Params.author }}</a>
          {{ end }}
        {{ end }}
      </h6>
      {{ end }}

      <p class='articleTitle'><a class="list_article_title" href="{{ .Permalink }}">{{ if in .Title "&&" }}
        {{ $titleLines := split .Title "&&" }}
        {{ range $titleLines }}
          {{ . }}
          <br>
        {{ end }}
      {{ else }}{{ .Title }}{{ end }}</a></p><!--was h3-->
      <p class="summarytext">{{ if .Params.summary_text }}{{ .Params.summary_text }}{{ else }}{{ .Summary }}{{ end }}</p>
      <h6 style="max-width: 100%;">{{ .PublishDate.Format "January 2, 2006" }}</a></h6>
      <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>

<script>
//ITALIC IN SUMMARY TEXT
var summarytext = Array.from(document.querySelectorAll('.summarytext')).pop();
if ( summarytext ) {    
  if (summarytext.innerHTML.includes('&lt;i&gt;')){
    var paragraph = document.createElement('p');
    paragraph.setAttribute('class', 'summarytext');

    var first = summarytext.innerHTML.split('&lt;i&gt;');
    var paragraphText_1 = document.createTextNode(first[0]);
    paragraph.appendChild(paragraphText_1);

    for (let i = 1; i < first.length; i++) {
      var second = first[i].split('&lt;/i&gt;');  

      var paragraphText_2 = document.createTextNode(second[0]);
      var italicSpan = document.createElement('span');
      italicSpan.setAttribute('class', 'italic');
      italicSpan.style.color = 'black!important';
      italicSpan.appendChild(paragraphText_2);
      paragraph.appendChild(italicSpan);

      var paragraphText_3 = document.createTextNode(second[1]);
      paragraph.appendChild(paragraphText_3);
    }
    summarytext.innerHTML="";
    var thisParent = summarytext.parentElement;
    thisParent.insertBefore(paragraph, thisParent.getElementsByClassName('articleTitle')[0].nextSibling);
  }
}
</script>
