<article class="col-lg-8 offset-lg-2">
  <div class="post-block">
    <div class="media-wrapper">
      {{ if .Params.image }}
      <img class="img-fluid" style="height: auto" data-src="{{ .Params.Image_webp | absURL }}" src="{{ .Params.image | absURL }}">
      {{ end }}
    </div>

    <!--from here-->
    {{ if .Description }}
    <div class="synopsis_box synopsis_in_news">
      <p class="synopsis">Synopsis: {{ .Description }}</p>
      <div class="open_synopsis_box">+</div>
    </div>
    {{ end }}
    <!--to here-->

    <div class="content">

      <!--Name formats: Name, Name-Name, Name Surname, Name-Name Surname-->
      {{ if .Params.author }}
        <p id="this_article_author" style="text-align: center; margin-bottom: 0.5em;">by 
        {{ if in .Params.author ", " }} <!--multiple authors-->
          {{ if not (in .Params.author "-") }} <!--Name Surname-->
            {{ range $index, $singleAuthor := split .Params.author ", " }}
              {{ if (ne $index 0) }}, {{ end }}
              <a href="..\indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ index $nameSurname $i }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ . }}</a>
            {{ end }}
          {{ else }} <!--Name-Name Surname-->
            {{ range $index, $singleAuthor := split .Params.author ", " }}
              {{ if (ne $index 0) }}, {{ end }}
              <a href="..\indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ $nameWithHyphen := index $nameSurname $i }}{{ replace $nameWithHyphen "-" " " }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ replace .Params.author "-" " " }}</a>
            {{ end }}
          {{ end }}
        {{ else if in .Params.author " " }} <!--single author-->
          {{ if not (in .Params.author "-") }} <!-- Name Surname -->
            <a href="..\indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ index $nameSurname $i }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ .Params.author }}</a>
          {{ else }} <!--Name-Name Surname-->
            <a href="..\indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ $nameWithHyphen := index $nameSurname $i }}{{ replace $nameWithHyphen "-" " " }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ replace .Params.author "-" " " }}</a>
          {{ end }}
        {{ else }} <!-- single author, Name -->
          {{ if in .Params.author "-" }} <!-- Name-Name -->
            <a href="..\indextag#{{ $nameSurname := split .Params.author " " }}{{ $len := len $nameSurname }}{{ range (seq $len) }}{{ $i := sub $len . }}{{ $nameWithHyphen := index $nameSurname $i }}{{ replace $nameWithHyphen "-" " " }}{{ if ne . "1"}} {{ end }}{{ end }}">{{ replace .Params.author "-" " " }}</a>
          {{ else }} <!-- Name -->
            <a href="..\indextag#{{ . }}">{{ .Params.author }}</a>
          {{ end }}
        {{ end }}
      </p>
      {{ end }}
      
      <h1 class='articleTitle' style="text-align: center"><a class="list_article_title" href="{{ .Permalink }}">{{ if in .Title "&&" }}
          {{ $titleLines := split .Title "&&" }}
          {{ range $titleLines }}
            {{ . }}
            <br>
          {{ end }}
        {{ else }}{{ .Title }}{{ end }}</a></h1>

      <p class="summarytext">{{ if .Params.summary_text }}{{ .Params.summary_text }}{{ else }}{{ .Summary }}{{ end }}</p>
      <!--p>{{/* if eq .Params.project_category "Podcast: Between the Strings" */}}
        <p class="contenttext">{{/* .Content */}}</p>
      {{/* else */}}<p-->

      <div class="title text-center wow fadeInDown">
        <div class="border-meghna"></div>
      </div>

    </div>
  </div>
</article>

<script>
//ITALIC IN SUMMARY TEXT
var summarytext = Array.from(document.querySelectorAll('.summarytext')).pop();
if ( summarytext ) {    
  if (summarytext.innerHTML.includes('&lt;i&gt;')){
    var paragraph = document.createElement('p');
    paragraph.setAttribute('class', 'summarytext');

    var first = summarytext.innerHTML.split('&lt;i&gt;');
    var paragraphText_1 = document.createTextNode(first[0]);
    paragraph.appendChild(paragraphText_1);

    for (let i = 1; i < first.length; i++) {
      var second = first[i].split('&lt;/i&gt;');  

      var paragraphText_2 = document.createTextNode(second[0]);
      var italicSpan = document.createElement('span');
      italicSpan.setAttribute('class', 'italic');
      italicSpan.style.color = 'black!important';
      italicSpan.appendChild(paragraphText_2);
      paragraph.appendChild(italicSpan);

      var paragraphText_3 = document.createTextNode(second[1]);
      paragraph.appendChild(paragraphText_3);
    }
    summarytext.innerHTML="";
    var thisParent = summarytext.parentElement;
    thisParent.insertBefore(paragraph, thisParent.getElementsByClassName('articleTitle')[0].nextSibling);
  }
}
</script>
