<article class="col-lg-8 offset-lg-2">
  <div class="post-block">
    <div class="media-wrapper">
      {{ if .Params.image }}
      <img class="img-fluid" style="height: auto" data-src="{{ .Params.Image_webp | absURL }}" src="{{ .Params.image | absURL }}">
      {{ end }}
    </div>

    <!--from here-->
    {{ if .Description }}
    <div class="synopsis_box synopsis_in_news">
      <p class="synopsis">Synopsis: {{ .Description }}</p>
      <div class="open_synopsis_box">+</div>
    </div>
    {{ end }}
    <!--to here-->

    <div class="content">

      {{ if .Params.author }}
      <p id="this_article_author" style="text-align: center; margin-bottom: 0.5em;">{{ .Params.author }}</p>
      {{ end }}
      <h1 style="text-align: center"><a class="list_article_title" href="{{ .Permalink }}">{{ if in .Title "&&" }}
          {{ $titleLines := split .Title "&&" }}
          {{ range $titleLines }}
            {{ . }}
            <br>
          {{ end }}
        {{ else }}{{ .Title }}{{ end }}</a></h1>

      <p class="summarytext">{{ if .Params.summary_text }}{{ .Params.summary_text }}{{ else }}{{ .Summary }}{{ end }}</p>
      <!--p>{{/* if eq .Params.project_category "Podcast: Between the Strings" */}}
        <p class="contenttext">{{/* .Content */}}</p>
      {{/* else */}}<p-->

      <div class="title text-center wow fadeInDown">
        <div class="border-meghna"></div>
      </div>

    </div>
  </div>
</article>

<script>
//ITALIC IN SYNOPSIS
var summarytext = Array.from(document.querySelectorAll('.summarytext')).pop();
if ( summarytext ) {    
  if (summarytext.innerHTML.includes('&lt;i&gt;')){
    var paragraph = document.createElement('p');
    paragraph.setAttribute('class', 'summarytext');

    var first = summarytext.innerHTML.split('&lt;i&gt;');
    var paragraphText_1 = document.createTextNode(first[0]);
    paragraph.appendChild(paragraphText_1);

    for (let i = 1; i < first.length; i++) {
      var second = first[i].split('&lt;/i&gt;');  

      var paragraphText_2 = document.createTextNode(second[0]);
      var italicSpan = document.createElement('span');
      italicSpan.setAttribute('class', 'italic');
      italicSpan.style.color = 'black';
      italicSpan.appendChild(paragraphText_2);
      paragraph.appendChild(italicSpan);

      var paragraphText_3 = document.createTextNode(second[1]);
      paragraph.appendChild(paragraphText_3);
    }
    summarytext.innerHTML="";
    var thisParent = summarytext.parentElement;
    console.log(summarytext);
    console.log(thisParent);
    //thisParent.insertBefore(paragraph, thisParent.getElementsByClassName('articleTitle')[0].nextSibling);
  }
}
</script>
