{{ if and .Params.timeline_tag (ne (lower .Title) "iconography") (ne (lower .Title) "musicology") (ne (lower .Title) "organology") (ne (lower .Title) "performance practice") (ne (lower .Title) "sociology of art") }}
<article>
  <div class="tl_row">

    {{ $image_webp := .Params.Image_webp | absURL }}
    {{ $image := .Params.image | absURL }}
    {{ $permalink := .Permalink }}
    {{ $title := .Title }}
    {{ range .Params.timeline_tag }}

      <!--decide position based on year tag-->
      {{ $startMargin := 2.6 }}
      {{ $marginLeft := 0 }}

      {{/* if lt . 1100 */}}{{/* $marginLeft := 0 */}}

      {{ if eq (countrunes .) 4}}
        {{ if not (in . "s") }} <!--1900-->
          {{ $marginLeft = div (sub (int .) 1100) 25.0 }}
        {{ else }} <!--900s-->
          {{ $marginLeft = div (sub (int (replace . "s" "")) 1100) 25.0 }}
        {{ end }}
      {{ else if (in . "century")}} <!--19th century-->
        {{ $marginLeft = div (sub (mul (int (substr . 0 2)) 100) 1200) 25.0 }}
      {{ else if or (in . "-") (in . "–") (in . "—")}}
        {{ if not (in . "s") }} <!--1925–1960-->
          {{ $marginLeft = div (sub (int (substr . 0 4)) 1100) 25.0 }}
        {{ else }} <!--1800s–1900s-->
          {{ $marginLeft = div (sub (int (strings.TrimRight "s" .)) 1100) 25.0 }}
        {{ end }}
      {{ else if (in . "s")}} <!--1900s-->
        {{ $marginLeft = div (sub (int (strings.TrimRight "s" .)) 1100) 25.0 }}
      {{ else }}
        {{ $marginLeft = 0 }}
      {{ end }}

      <div class="tl_article_block" onmouseenter="lineAppear(this)" onmouseleave="lineDisappear(this)" style="width: {{ countrunes . }}em; margin-left: calc({{ $startMargin }}rem + calc(4.7rem * {{ $marginLeft }}));">
      
        <div class="media-wrapper tl_mediawrapper">
          <img class="img-fluid tl_image" data-src="{{ $image_webp }}" src="{{ $image }}" style="width: {{ countrunes . }}em">
          <p class="tl_article_year" style="width: {{ countrunes . }}em">{{ . }}</p>
        </div>

        <p class="tl_article_title"><a href="{{ $permalink }}">{{ if in $title "&&" }}
          {{ replace $title "&&" " " | safeHTML | truncate (add 20 (mul (sub (countrunes .) 4) 20)) }}{{ else }}{{ $title | safeHTML | truncate (add 20 (mul (sub (countrunes .) 4) 20)) }}{{ end }}</a></p>

        <!--svg class="tl_blockToScale_line" height="120%" width="{{ countrunes . }}em">
          <line x1="50%" y1="0" x2="50%" y2="100%" style="stroke: var(--purpleColor);stroke-width: 3px;"></line>
        </svg--> <!--porta questo in timeline_pro, ne basta uno solo, poi con uno script
          lo sposti dove vuoi. Ogni article ha un "mouseover" function che in base
          alle coordinate di quello, sposta la linea e la allunga/accorcia. Inizia da un print
          delle coordinate. Assegna la funzione qui e poi scrivila in timeline_pro-->

      </div>

    {{ end }}

  </div>
</article>
{{ end }}
