{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h1>{{ .Title }}</h1>

          {% comment %}
          {{ $this_proj_title := .Title }}
          {{ range $.Param "Projects.projects" }}
            {{ if eq $this_proj_title .title}}
            <p>{{ .description }}</p>
            {{ end }}
          {{ end }}
          {% endcomment %}

          <p>The Barberini Harp is the most important surviving Italian Baroque harp. This chromatic harp with three parallel rows of strings was constructed in 1632-33 for the harpist Marco Marazzoli by the instrument maker Girolamo Acciari and the wood-carver Giovanni Tubi under the patronage of Cardinal Antonio Barberini. As we still lack crucial understanding of this famous harp, Harfenlabor’s Barberini Harp Project intends to share and initiate research on this harp in the fields of organology, musicology, and performance practice. This publication presents three stages of the Barberini Harp Project: <a href="..\/..\/barberini_convening">Convening</a> in Roma in 2016, <a href="..\/..\/barberini_interviews">Interviews</a> with Experts, and <a href="..\/..\/barberini_examinations">Examinations</a>.</p>

          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ $research := .Site.GetPage "/research" }}
      {{ range $research.Data.Pages }}
        {{ if eq .Params.project_category "Barberini Harp Project" }}
        {{ .Render "article" }}
        {{ end }}
      {{ end }}
      
      <div class="col-12">
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
