{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h1>{{ .Title }}</h1>

          <p>The 2016 <a href="..\bhpconvening">Convening</a> in Roma opened a number of research directions and questions in Harfenlabor’s ongoing study of the Barberini Harp. Conversations with musicians, musicologists, art historians, instrument makers and scientists conducting <a href="..\bhpexaminations">Examinations</a> on this harp, deepen our understanding by addressing some of the open questions and by proposing new approaches.</p>

          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ $research := .Site.GetPage "/research" }}
      {{ range $research.Data.Pages }}
        {{ if and (eq .Params.project_category "Barberini Harp Project") (eq .Params.bhp_category "Interviews") (not .Params.hide_from_research) }}
        {{ .Render "article" }}
        {{ end }}
      {{ end }}
      
      <div class="col-12">
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
