{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h1>{{ .Title }}</h1>

          <p class="description_paragraph">This international symposium held December 14-16, 2016 in Roma, was organised by Harfenlabor in cooperation with the Istituto Storico Austriaco and Museo Nazionale degli Strumenti Musicali in Roma, as well as with Mozarteum Salzburg and the Deutsche Botschaft in Rom. Contributions by harpists, harp makers, musicologists and art historians presented research directions and questions, outcomes of which Hafenlabor presents here, and in <a href="..\bhpinterviews">Interviews</a> with Experts, and <a href="..\bhpexaminations">Examinations</a>.</p>

          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ $research := .Site.GetPage "/research" }}
      {{ range $research.Data.Pages }}
        {{ if and (eq .Params.project_category "Barberini Harp Project") (eq .Params.bhp_category "Convening") (not .Params.hide_from_research) }}
        {{ .Render "article" }}
        {{ end }}
      {{ end }}
      
      <div class="col-12">
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
