{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h1>{{ .Title }}</h1>

          <p>Prompted by unanswered questions and conflicting hypotheses on the wood used for the column of the Barberini Harp, as raised at the 2016 <a href="..\bhp-convening">Convening</a> in Roma, in 2018 Harfenlabor initiated examinations into the wood species used to build the harp. Wood scientists at the Thünen-Intitut (Hamburg) used the most advanced non-invasive technologies and determined that the column was made of walnut. <a href="..\bhp-interviews">Interviews</a> with Experts brings additional insight into the processes and questions involved.</p>

          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ $research := .Site.GetPage "/research" }}
      {{ range $research.Data.Pages }}
        {{ if and (eq .Params.project_category "Barberini Harp Project") (eq .Params.bhp_category "Interviews") (not .Params.hide_from_research) }}
        {{ .Render "article" }}
        {{ end }}
      {{ end }}
      
      <div class="col-12">
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
