{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h1>{{ .Title }}</h1>

          <!--p class="description_paragraph">The first edition of Harfenlabor’s Harp Biennale, titled Zwischen den Saiten, unfolded as an artistic-scientific duel between the Single-Action-Harp around Haydn and its Alpine counterpart, the Tyrolean Folk Harp. The festival took place November 11–14, 2021, at Haus der Musik Innsbruck and Tiroler Landesmuseen Ferdinandeum. Zwischen den Saiten presented a diverse and lively harp repertoire in <a href="..\ZDSconcerts">Concerts</a> and <a href="..\ZDSconcert-lectures">Concert-Lectures</a>, as well as up to date artistic and scientific research in a <a href="..\ZDSsymposium">Symposium</a> and an <a href="..\ZDSexhibition">Exhibition</a>.</p-->
          <p class="description_paragraph">The first edition of Harfenlabor’s Harp Biennale, titled Haydn’s Folk Harp, unfolded as an artistic-scientific duel between the Single-Action-Harp around Haydn and its Alpine counterpart, the Tyrolean Folk Harp. The festival took place November 11–14, 2021, at Haus der Musik Innsbruck and Tiroler Landesmuseen Ferdinandeum. Haydn’s Folk Harp presented a diverse and lively harp repertoire in Concerts and Concert-Lectures, as well as up to date artistic and scientific research in a Symposium and an Exhibition.</p>
          
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ range $.Site.RegularPages }}
        {{ if and (not .Params.hide_from_research) (eq .Params.harp_biennale_category "Zwischen den Saiten") }}
        {{ .Render "article" }}
        {{ end }}
      {{ end }}
      
      <div class="col-12">
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
