{{ define "main" }}
{{ partial "navigation.html" . }}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section class="section greyBackground tl_mainbody">

  <div class="col-12 tl_upperpart">
    <div class="text-center wow fadeInDown">
      <h1>{{ .Title }}</h1>
      <div class="border-meghna"></div>
      <!--p>ciao</p-->
    </div>
  </div>
  <div id="map"></div>

  {{"<!-- /section title -->" | safeHTML}}
  {{ $timelinePagination := .Site.GetPage "/research" }}

  {{ range $timelinePagination.Data.Pages }}
    {{ if not .Params.hide_from_research }}
      {{/* .Render "article_tl" */}}
    {{ end }}
  {{ end }}

  </div>
</section>
<script>
  //var map = L.map('map').setView([51.505, -0.09], 13);
  /*L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
  }).addTo(map);*/

  // Creating map options
  var mapOptions = {
    center: [44, 12],
    zoom: 5
  }
  var map = new L.map('map', mapOptions);
   
  var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
  map.addLayer(layer);

  //var marker = L.marker([51.5, -0.09]).addTo(map);

  var circle = L.circle([41.8933203, 12.4829321], {
    color: 'var(--purpleColor)',
    fillColor: 'var(--purpleColor)',
    fillOpacity: 0.2,
    radius: 10000, /*rendi relativa a quanti articoli ne parlano!*/
    alt: 'Roma'}).addTo(map).bindPopup("Ciao! <a href='https://www.google.it/'>Roma</a> è un link.");


  var address = 'Roma';
  $.get(location.protocol + '//nominatim.openstreetmap.org/search?format=json&q='+address, function(data){
       console.log(data[0].lat, data[0].lon);
    });

</script>
{{ end }}
