{{ define "main" }}
{{ partial "navigation.html" . }}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section class="section greyBackground tl_mainbody">

  <div class="col-12 tl_upperpart">
    <div class="text-center wow fadeInDown">
      <h1>{{ .Title }}</h1>
      <div class="border-meghna"></div>
      <!--p>ciao</p-->
    </div>
  </div>
  <div id="map_hl"></div>

  {{"<!-- /section title -->" | safeHTML}}
  {{ $timelinePagination := .Site.GetPage "/research" }}

  {{ range $timelinePagination.Data.Pages }}
    {{ if not .Params.hide_from_research }}
      {{/* .Render "article_tl" */}}
    {{ end }}
  {{ end }}

  </div>
</section>
<script>
  //prepare empty arrays
  var allNames_map = [];
  var allLinks_map = [];
  var allTitles_map = [];
  var arrayForMap = [];

  //get Map tags
  getJsonArray_map();
  function getJsonArray_map(){
    $.ajax({
        url: '/index.json',
        type: 'GET',
        success: maptags
    })
  }

  function clean_map(array) {
    for (var key in array) {
      if (array[key] === null || array[key] === undefined) {
        delete array[key];
      }
    }
    return array
  }

  console.log("allNames(1): ", allNames_map);

  function maptags(data){
    json = data; //fetch my json
    console.log("json: ", data);
    console.log("allNames(2): ", allNames_map);
    
  }

</script>
{{ end }}
