<article class="col-related-research clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <a href="{{ .Permalink }}"><img class="img-fluid-related-research" data-src="{{ .Params.Image_webp | absURL }}" src="{{ .Params.image | absURL }}"></a>
    </div>

    <div class="content-related-research">
      <h6 class="title-related-research"><a href="{{ .Permalink }}">
      {{ if in .Title "&&" }}
        {{ $titleLines := split .Title "&&" }}
        {{ range $titleLines }}
          {{ . }}
          {{ "<br>" }}
        {{ end }}
      {{ else }}{{ .Title }}{{ end }}</a></h6>
    </div>
  </div>
</article>
