<article class="col-related-research clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <a href="{{ .Permalink }}"><img class="img-fluid-related-research" data-src="{{ .Params.Image_webp | absURL }}" src="{{ .Params.image | absURL }}"></a>
    </div>

    <div class="content-related-research">
      <h6 class="title-related-research"><a href="{{ .Permalink }}">
      {{ if and (in .Title "<i>") (in .Title "</i>") }}
        
        {{ $firstCutItalic := split .Title "<i>" }}
        {{ $beforeItalic := index $firstCutItalic 0 }}

        {{ $secondCutItalic := index $firstCutItalic 1 }}
        {{ $italicAndAfter := split $secondCutItalic "</i>" }}
        {{ $italic := index $italicAndAfter 0 }}
        {{ $afterItalic := index $italicAndAfter 1 }}
        
        {{ if in .Title "&&" }}

          {{ if in $beforeItalic "&&" }}
            {{ $beforeItalicLines := split $beforeItalic "&&" }}
            {{ range $beforeItalicLines }}
              {{ . }}
              <br>
            {{ end }}
            <span style="font-style: italic!important; line-height:0px">{{ $italic }}</span>
            {{ $afterItalic }}
          {{ end }}
          {{ if in $italic "&&" }}
            {{ $italicLines := split $italic "&&" }}
            {{ $beforeItalic }}
            <span style="font-style: italic!important; line-height:0px">
            {{ range $italicLines }}
              {{ . }}
              <br>
            {{ end }}
            </span>
            {{ $afterItalic }}
          {{ end }}
          {{ if in $afterItalic "&&" }}
            {{ $afterItalicLines := split $afterItalic "&&" }}
            {{ $beforeItalic }}
            <span style="font-style: italic!important; line-height:0px">{{ $italic }}</span>
            {{ range $afterItalicLines }}
              {{ . }}
              <br>
            {{ end }}
          {{ end }}

        {{ else }}
          {{ $beforeItalic }}
          <span style="font-style: italic!important; line-height:0px">{{ $italic }}</span>
          {{ $afterItalic }}
        {{ end }}</a></p>

      {{ else }}
        
        {{ if in .Title "&&" }}
          {{ $titleLines := split .Title "&&" }}
          {{ range $titleLines }}
            {{ . }}
            <br>
          {{ end }}
        {{ else }}{{ .Title }}{{ end }}</a></h6>
      {{ end }}



    </div>
  </div>
</article>
