{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}

<p class="TEMP_BANNER">Please note: this site is a preview.<br>Full website will be available in April 2022.</p>

<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h1>{{ .Title }}</h1>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      
      {{/* $paginator := .Paginate .Data.Pages */}}
      {{/* range $paginator.Pages */}}
      {{/* .Render "article_onepage" */}}
      {{/* end */}}
      {{/* .Title */}}
      {{/* .Type */}}
      {{/* .Params.show_in_news */}}
      {{/* . */}}


      <p>{{ range (where .Site.Pages "Section" "News") }}
        {{ range .Pages }}
          {{ . }}
        {{ end }}
      {{ end }}</p>

      {{/* $news := .Paginate .Data.Pages }}
      {{ range $news.Pages }}

        {{ if .Params.show_in_news }}
        {{ .Render "article_onepage" }}
        {{ end }}
      {{ end */}}



      {{/* $research := .Site.GetPage "/research" }}
      {{ range $research.Data.Pages }}

        {{ if .Params.show_in_news }}
        {{ .Render "article_onepage" }}
        {{ end }}
      {{ end */}}





      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

<!--script>
  window.addEventListener('load', function () {
    //ARTICLE
    //make authors a clickable link
    $('.content #this_article_author').each(function () {
      var authors_initial = this.textContent;
      var authors_without_by = authors_initial.replace('by ', '');

      var articleAuthor = this;

      if (authors_without_by.includes(', ')){

        articleAuthor.innerHTML="";
        articleAuthor.append('by ');

        var single_authors = authors_without_by.split(', ');

        for (let i = 0; i < single_authors.length; i++) {

          data = single_authors[i].split(' ');

          for (var j = 0; j < data.length; j++) { //capitalize first letter
            data[j] = data[j].charAt(0).toUpperCase() + data[j].slice(1);
          }

          if (data.length == 4) { //rearrange
            var author = data[3] + ' ' + data[0] + ' ' + data[1] + ' ' + data[2];
          } if (data.length == 3) {
            var author = data[2] + ' ' + data[0] + ' ' + data[1];
          } if (data.length == 2) {
            var author = data[1] + ' ' + data[0];
          }

          author = author.replaceAll("-", " ");

          let name = document.createElement('a');
          let nameText = document.createTextNode(single_authors[i].replaceAll("-", " "));
          name.setAttribute('href', '..\/..\/indextag#'+author);
          if (i>0) {
            this_article_author.append(', ');
          }
          name.appendChild(nameText);
          articleAuthor.append(name);
        }
        
      } else {

        data = authors_without_by.split(' ');
        for (var j = 0; j < data.length; j++) { //capitalize first letter
          data[j] = data[j].charAt(0).toUpperCase() + data[j].slice(1);
        }
        if (data.length == 4) { //rearrange
          var author = data[3] + ' ' + data[0] + ' ' + data[1] + ' ' + data[2];
        } if (data.length == 3) {
          var author = data[2] + ' ' + data[0] + ' ' + data[1];
        } if (data.length == 2) {
          var author = data[1] + ' ' + data[0];
        }

        author = author.replaceAll("-", " ");

        let name = document.createElement('a');
        let nameText = document.createTextNode(authors_without_by.replaceAll("-", " "));
        name.setAttribute('href', '..\/..\/indextag#'+author);
        name.appendChild(nameText);
        articleAuthor.innerHTML="";
        articleAuthor.append("by ", name);
      }
    });
  });
</script-->

{{ end }}
