<article class="col-related-research clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid-related-research" style="height: 4em" data-src="/images/download-pdf.png" src="/images/download-pdf.png" onclick="window.print();">
    </div>

    <div class="content-related-research">
      <a href=""><h6 class="title-related-research" onclick="window.print();" style="color:var(--purpleColor);cursor:pointer">Print/Download this&nbsp;article</h6></a>
    </div>
  </div>
</article>
