{{ define "footerfiles" }}
{{ end }}

{{ define "main" }}
{{ partial "navigation.html" . }}

<section class="section greyBackground">
  <div class="col-12">
    <div class="title text-center wow fadeInDown">
      <h1>{{ .Title }}</h1>
      <div class="border-meghna"></div>
      <p class="sort">Sort by:
        <input type="radio" name="timeline_sortby" value="one" id="one" checked><label for="one">All</label>
        <input type="radio" name="timeline_sortby" value="two" id="two"><label for="two">Project</label>
        <input type="radio" name="timeline_sortby" value="three" id="three"><label for="three">Research Field</label>
      </p>
    </div>
  </div>
  
  <div class="col-lg-12">
    <div class="post-single-content">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
        {{ if and (ne .Title "Organology") (ne .Title "Performance Practice") (ne .Title "Musicology") (ne .Title "HL Editions") (ne .Title "Iconography") (ne .Title "Sociology of Art") }}
          {{/* .Render "article" */}}
          <p>{{ .Title }}</p>
        {{ end }}
      {{ end }}
    </div>
  </div>

</section>

<script>

</script>

{{ end }}
