{{ define "main" }}
{{ partial "navigation.html" . }}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section class="section greyBackground tl_mainbody">
  <div class="col-12 tl_upperpart">
    <div class="text-center wow fadeInDown">
      <h1>{{ .Title }}</h1>
      <div class="border-meghna"></div>
      <p class="sort">Filter:
        <input type="radio" name="timeline_sortby" value="one" id="one" checked><label for="one">All</label>
        <input type="radio" name="timeline_sortby" value="two" id="two"><label for="two">Project</label>
        <input type="radio" name="timeline_sortby" value="three" id="three"><label for="three">Research Field</label>
      </p>
    </div>
  </div>
  <div class="tl_frame">
    <div class="tl_frame_inside">
      {{"<!-- /section title -->" | safeHTML}}
      {{ $timelinePagination := .Site.GetPage "/research" }}

      {{ range $timelinePagination.Data.Pages }}
        {{ .Render "article_tl" }}
      {{ end }}

      <div class="tl_scale">
        <label class="tl_label">1300</label>
        <label class="tl_label">1350</label>
        <label class="tl_label">1400</label>
        <label class="tl_label">1450</label>
        <label class="tl_label">1500</label>
        <label class="tl_label">1550</label>
        <label class="tl_label">1600</label>
        <label class="tl_label">1650</label>
        <label class="tl_label">1700</label>
        <label class="tl_label">1750</label>
        <label class="tl_label">1800</label>
        <label class="tl_label">1850</label>
        <label class="tl_label">1900</label>
        <label class="tl_label">1950</label>
        <label class="tl_label">2000</label>
        <label class="tl_label">2050</label>
      </div>


      <svg id="blockToScaleLine" class="tl_blockToScale_line notvisible" height="100px" width="3px">
        <line x1="50%" y1="0" x2="50%" y2="100%" style="stroke: var(--purpleColor);stroke-width: 3px;"></line>
      </svg>


      <!-- get titles for each year -->
      {{/* $data := newScratch */}}
      {{/* range $timelinePagination.Pages */}}
        {{/* $title := .Title */}}
        {{/* range .Params.timeline_tag */}}
          {{/* $data.Add . (slice $title) */}}
        {{/* end */}}
      {{/* end */}}
      {{/* range $timelinePagination.Pages */}}
        {{/* range .Params.timeline_tag */}}
          {{/* $size := $data.Get . */}}
          {{/* if $size */}}
            <!--p>{{/* . */}}: {{/* $size */}}</p-->
          {{/* end */}}
        {{/* end */}}
      {{/* end */}}

      <!--byParam-->
      {{/* range $timelinePagination.Pages.ByParam "timeline_tag" */}}
        {{/* println .Title */}}
        {{/* println .Params.timeline_tag */}}
      {{/* end */}}

      <!--range-->
      {{/* range $timelinePagination.Pages */}}
        {{/* println .Title */}}
        {{/* range .Params.timeline_tag */}}
          {{/* println . */}}
        {{/* end */}}
      {{/* end */}}
    </div>
  </div>

  <!--p>{{/* range $timelinePagination.Data.Pages */}}{{/* . */}}{{/* end */}}</p-->

  <!--div class="col-lg-12">
    <div class="post-single-content">
      <p>ciao</p>
    </div>
  </div-->
</section>
<script>
  var line = document.getElementById('blockToScaleLine');
  var tlframe = document.getElementsByClassName('tl_frame')[0];
  var blockWidth = x.getBoundingClientRect().width;
  var blockHeight = (tlframe.getBoundingClientRect().height - x.getBoundingClientRect().top);
  var blockMarginLeft = (x.getBoundingClientRect().left - 50);

  function lineAppear(x) {
    line.classList.remove('notvisible');
    line.classList.add('visible');
    line.style.width = blockWidth;
    line.style.height = blockHeight;
    line.style.marginLeft = blockMarginLeft;
  }

  function lineDisappear(x) {
    line.classList.remove('visible');
    line.classList.add('notvisible');
  }

  $(window).scroll(function() {
    console.log("ok");
    line.style.width = blockWidth;
    line.style.height = blockHeight;
    line.style.marginLeft = blockMarginLeft;
  });
</script>
{{ end }}
