{{ define "main" }}
{{ partial "navigation.html" . }}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section class="section greyBackground tl_mainbody">
  <!--footer id="footer_desktop" style="">
    <div id="footer" class="foot5" onmouseover="toggleFooter(this)" onmouseout="toggleFooter(this)" style="width: 2em; height: 14em; z-index: 3;background: white; border: 2px solid var(--greyColor);">
      <p class="footer_title footitle5" style="width: 12em;">About this timeline</p>
      <div class="footer_insidebox_5">
        <p class="footer_insidetext">Questa è una descrizione della timeline.</p>
      </div>
    </div>
  </footer-->

  <div class="col-12 tl_upperpart">
    <div class="text-center wow fadeInDown">
      <h1>{{ .Title }}</h1>
      <div class="border-meghna"></div>
      <!--p class="sort">Filter:
        <input type="radio" name="timeline_sortby" value="all" id="all" checked><label for="all">All</label>
        <input type="radio" name="timeline_sortby" value="barb" id="barb"><label for="barb">Barberini Harp Project</label>
      </p-->
      <div class="radio_options" style="display: flex; justify-content: space-between;">
        <div class="sortWrapper" style="display: flex;">
          <p class="sort">Filter:</p>
          <!--input type="radio" name="timeline_sortby" value="all" id="all" checked=""><label for="all">All</label>
          <input type="radio" name="timeline_sortby" value="barb" id="barb"><label for="barb">Barberini Harp Project</label-->
          <div class="selectWrapper">
            <select class="selectBox" id="selectBox" onChange="updateSelectVal()">
              <option value="all" selected>All</option>
              <option disabled=""></option>
              <option value="proj_bhp">Barberini Harp Project</option>
              <option value="proj_hl">Harfenlabor Lectures</option>
              <option value="proj_bts">Podcast: Between the Strings</option>
              <option disabled=""></option>
              <option value="res_org">Organology</option>
              <option value="res_per">Performance Practice</option>
              <option value="res_mus">Musicology</option>
              <option value="res_ico">Iconography</option>
              <option value="res_soc">Sociology of Art</option>    
            </select>
          </div>
        </div>
        <p class="zoom" style="right: 0;">Zoom:&nbsp;          
          <input type="radio" name="tl_zoom" value="zoom1" id="zoom1" checked=""><label for="zoom1">Ⅰ</label>
          <input type="radio" name="tl_zoom" value="zoom2" id="zoom2"><label for="zoom2">Ⅱ</label>
          <input type="radio" name="tl_zoom" value="zoom3" id="zoom3"><label for="zoom3">Ⅲ</label>
        </p>
      </div>
    </div>
  </div>
  <div class="tl_frame">
    <div class="tl_frame_inside">
      {{"<!-- /section title -->" | safeHTML}}
      {{ $timelinePagination := .Site.GetPage "/research" }}

      {{ range $timelinePagination.Data.Pages }}
        {{ if not .Params.hide_from_research }}
          {{ .Render "article_tl" }}
        {{ end }}
      {{ end }}

      <div class="tl_scale">
        <label class="tl_label">1100</label>
        <label class="tl_label">1150</label>
        <label class="tl_label">1200</label>
        <label class="tl_label">1250</label>
        <label class="tl_label">1300</label>
        <label class="tl_label">1350</label>
        <label class="tl_label">1400</label>
        <label class="tl_label">1450</label>
        <label class="tl_label">1500</label>
        <label class="tl_label">1550</label>
        <label class="tl_label">1600</label>
        <label class="tl_label">1650</label>
        <label class="tl_label">1700</label>
        <label class="tl_label">1750</label>
        <label class="tl_label">1800</label>
        <label class="tl_label">1850</label>
        <label class="tl_label">1900</label>
        <label class="tl_label">1950</label>
        <label class="tl_label">2000</label>
        <label class="tl_label">2050</label>
      </div>


      <svg id="blockToScaleLine" class="tl_blockToScale_line notvisible" height="100px" width="3px">
        <line x1="50%" y1="0" x2="50%" y2="100%" style="stroke: var(--purpleColor);stroke-width: 3px;"></line>
      </svg>


      <!-- get titles for each year -->
      {{/* $data := newScratch */}}
      {{/* range $timelinePagination.Pages */}}
        {{/* $title := .Title */}}
        {{/* range .Params.timeline_tag */}}
          {{/* $data.Add . (slice $title) */}}
        {{/* end */}}
      {{/* end */}}
      {{/* range $timelinePagination.Pages */}}
        {{/* range .Params.timeline_tag */}}
          {{/* $size := $data.Get . */}}
          {{/* if $size */}}
            <!--p>{{/* . */}}: {{/* $size */}}</p-->
          {{/* end */}}
        {{/* end */}}
      {{/* end */}}

      <!--byParam-->
      {{/* range $timelinePagination.Pages.ByParam "timeline_tag" */}}
        {{/* println .Title */}}
        {{/* println .Params.timeline_tag */}}
      {{/* end */}}

      <!--range-->
      {{/* range $timelinePagination.Pages */}}
        {{/* println .Title */}}
        {{/* range .Params.timeline_tag */}}
          {{/* println . */}}
        {{/* end */}}
      {{/* end */}}
    </div>
  </div>

  <!--p>{{/* range $timelinePagination.Data.Pages */}}{{/* . */}}{{/* end */}}</p-->

  <!--div class="col-lg-12">
    <div class="post-single-content">
      <p>ciao</p>
    </div>
  </div-->
</section>
<script>
  var line = document.getElementById('blockToScaleLine');
  var tlframe = document.getElementsByClassName('tl_frame')[0];
  var delay = 400; /*400ms*/

  function lineAppear(x) {
    var blockWidth = x.getBoundingClientRect().width;
    var blockHeight = (tlframe.getBoundingClientRect().height - x.getBoundingClientRect().top);
    var blockMarginLeft = (x.getBoundingClientRect().left - 50);

    line.classList.remove('notvisible');
    line.classList.add('visible');
    line.style.width = blockWidth;
    line.style.height = blockHeight;
    line.style.marginLeft = blockMarginLeft;
  }

  function lineDisappear(x) {
    line.classList.remove('visible');
    line.classList.add('notvisible');
  }

  function updateSelectVal() {
    var select = document.getElementById('selectBox');
    var option = select.options[select.selectedIndex];

    var $selectValue = option.text.replaceAll(" ", "_");

    if ($selectValue != 'All') {

      $('article').each(function(){
        var $article = this;

        if (!$(this).hasClass($selectValue)){
          console.log('2', this);
          console.log('2', $selectValue);
          $(this).children('.tl_row').each(function(){
            this.style.height = '0em';
            this.style.opacity = 0;
          });
          $(this).children('.tl_row').children('.tl_article_block').children('.tl_mediawrapper').children('.tl_image').each(function(){
            this.style.height = '0em';
          });
          setTimeout(function() {
            $article.style.display = 'none';
          }, delay);

        } else {
          console.log('3', this);
          console.log('3', $selectValue);
          $article.style.display = 'block';

          $(this).children('.tl_row').each(function(){
            this.style.height = '5em';
            this.style.opacity = 1;
          });
          $(this).children('.tl_row').children('.tl_article_block').children('.tl_mediawrapper').children('.tl_image').each(function(){
            this.style.height = '4em';
          });
        }
      });

    } else {
      $('article').each(function(){
        var $article = this;

        $article.style.display = 'block';

        $(this).children('.tl_row').each(function(){
          this.style.height = '5em';
          this.style.opacity = 1;
        });
        $(this).children('.tl_row').children('.tl_article_block').children('.tl_mediawrapper').children('.tl_image').each(function(){
          this.style.height = '4em';
        });
      });
    }
  }

  updateSelectVal();

  $(document).ready(function(){
    /*remove line when scrolling*/
    $('.tl_frame').scroll(function() {
      line.classList.remove('visible');
      line.classList.add('notvisible');
    });


    $(document).on('click', 'input[name="tl_zoom"]', function() {
      if ($(this).val() == 'zoom1'){
        document.documentElement.style.setProperty('--tlWidth', '75rem');
        document.documentElement.style.setProperty('--startMargin', '0rem');
      } else if ($(this).val() == 'zoom2') {
        document.documentElement.style.setProperty('--tlWidth', '150rem');
        document.documentElement.style.setProperty('--startMargin', '1.4rem');
      } else {
        document.documentElement.style.setProperty('--tlWidth', '250rem');
        document.documentElement.style.setProperty('--startMargin', '4rem');
      }
    });
  });

</script>
{{ end }}
