{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h1>{{ .Title }}</h1>

          <!--p class="description_paragraph">Description for Zwischen den Saiten section Concerts.</p-->

          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ range $.Site.RegularPages }}
        {{ if and (not .Params.hide_from_research) (eq .Params.harp_biennale_category "Zwischen den Saiten") (eq .Params.zwischen_category "Concert-Lectures") }}
        {{ .Render "article" }}
        {{ end }}
      {{ end }}
      
      <div class="col-12">
      </div>
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
