/*=== MEDIA QUERY ===*/
:root {
  --purpleColor: #B44BEB;
  --greyColor: #F1F2F2;
}

/*CSS TO PRINT*/
@media print {
  body{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  #navigation {
    display: none!important;
  }
  #menu_lid {
    display: none!important;
  }
  #footer {
    display: none!important;
  }
  a {
    color: var(--purpleColor)!important;
    text-decoration: none;
  }
  a:focus,
  a:hover,
  a:active,
  a:visited {
    color: var(--purpleColor)!important;
    text-decoration: underline;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  p > img {
    vertical-align: top;
    border-style: none;
    max-width: 70%!important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.8em;
    cursor: zoom-in;
  }
  sup{
    color: var(--purpleColor);
  }
  h6 {
    font-size: 1rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
  }
  .synopsis, .footnotes {
    color: var(--purpleColor);
    padding-right: .5em;
    margin-bottom: .5em;
    line-break: normal;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .open_synopsis_box {
    display: none;
  }
  .open_footnotes_box {
    display: none;
  }
}
