/*=== MEDIA QUERY ===*/
:root {
  --purpleColor: #B44BEB;
  --greyColor: #F1F2F2;
}

/*CSS TO PRINT*/
@page { 
  size: auto;
}

@media print {
  html{
    max-width: 100%;
  }
  body{
    max-width: 100%;
  }
  #navigation{
    display: none;
  }
  #logo_for_print{
    display: block;
    width: 140px;
    position: absolute;
  }
  #footer {
    display: none!important;
  }
  a {
    color: var(--purpleColor)!important;
    text-decoration: none;
  }
  a:focus,
  a:hover,
  a:active,
  a:visited {
    color: var(--purpleColor)!important;
    text-decoration: underline;
  }

  .col-lg-8 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }

  .offset-lg-2 {
    margin-left: 5%!important;
  }


  p {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  p > img {
    vertical-align: top;
    border-style: none;
    max-width: 80%;
    max-height: 15cm!important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.8em;
    cursor: zoom-in;
  }
  sup{
    color: var(--purpleColor);
  }
  h6 {
    font-size: 1rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
  }
  .synopsis, .footnotes {
    color: var(--purpleColor);
    max-width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: .5em;
    line-break: normal;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .synopsis_box, .footnotes_box{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .open_synopsis_box {
    display: none;
  }
  .open_footnotes_box {
    display: none;
  }
}
