/*=== MEDIA QUERY ===*/
:root {
  --purpleColor: #FF6F61;
  --greyColor: #F1F2F2;
}

/*CSS TO PRINT*/
@page { 
  size: auto;
}

@media print {
  html{
    max-width: 100%;
  }
  body{
    max-width: 100%;
  }
  #menu_lid, #navigation, #navigation *, #navigation_mobile, #navigation_mobile *, .TEMP_BANNER {
    display: none!important;
  }
  #logo_for_print {
    display: block;
    width: 140px;
    position: absolute;
  }
  footer {
    display: none!important;
  }
  a {
    color: var(--purpleColor)!important;
    text-decoration: none!important;
  }
  a:focus,
  a:hover,
  a:active,
  a:visited {
    color: var(--purpleColor)!important;
    text-decoration: none!important;
  }

  .col-lg-8 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }

  .offset-lg-2 {
    margin-left: 5%!important;
  }


  p {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  p > img {
    vertical-align: top;
    border-style: none;
    max-width: 80%;
    max-height: 15cm!important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.8em;
    cursor: zoom-in;
  }
  sup{
    color: black; /*var(--purpleColor)*/
  }
  h6 {
    font-size: 1rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
  h4 {
    border-top: 1px solid var(--purpleColor);
    padding-top: 1em;
  }
  hr {
    border-top: 1px solid transparent;
  }
  .synopsis, .imgcaptions, .footnotes {
    color: black; /*var(--purpleColor)*/
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: .5em;
    line-break: normal;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 1em;
  }
  .synopsis_box, .imgcaptions_box, .footnotes_box{
    position: relative;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: grey;
  }
  .open_synopsis_box {
    display: none;
  }
  .open_footnotes_box {
    display: none;
  }
  .open_imgcaptions_box {
    display: none;
  }
}
